node_modules/
.expo/
.vs/
/android/.idea
.ipynb_checkpoints/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*/Logs/

# macOS
.DS_Store
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/chamjy.iml
